.footer{
    background: #0c0d23;

}

.footer-container{
    max-width: auto;
    padding: 120px 20px 60px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
}

.footer-texto{
    font-size: 1.5rem;
    line-height: 1.33;
    color: #ffffff;
}

.footer-contato li{
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.1;
    color:#6fc659;
    margin-bottom: 30px;

}
.footer-contato {
    padding-top: 35px;
}
.footer-contato .icon-container a{
    display: inline-block;
    margin-right: 15px; 
}
.footer-contato li a{
    color: #6fc659;

}
.footer-copy{
    grid-column: 1 / -1;
    font-size: 1.125rem;
    color:#6fc659;
   
}


@media (max-width: 800px){
    .footer-container{
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .footer-contato li{
        font-size: 1.5rem;
    }
}

